<!-- 头部-->
<div class="mt-header">

	<div class="mt-breadcrumb" style="display: inline-block;">
	    <span>当前位置:</span>
	    <ul>
	        <li><a href="javascript:">主页</a></li>
	      	<li><a href="javascript:">{{data-name}}</a></li>
	    </ul>
	</div>

<!-- 	<div class="admin-info">
		<i class="iconfont icon-yonghu"></i>您好，admin
	</div> -->

	<!--其他菜单-->
	<div class="mt-header-othermenu">
		<div class="mt-header-menu">
			<i class="iconfont icon-gerenzhongxin"></i> 您好，admin
			<ul class="mt-sub-menu animated fadeInRight">
				<li><a href="#">测试导航1</a></li>
				<li><a href="#">测试导航2</a></li>
				<li><a href="#">测试导航3</a></li>
				<li><a href="admin-login.html">退出系统</a></li>
			</ul>
		</div>
	</div>
 
</div><!--end mt-header-->