<!--头部-->
<div class="mt-header">
	
	<a href="#" class="mt-sidemenu-arrow">
		<i class="iconfont icon-xiao75"></i>
	</a>

	<!--菜单-->
	<div class="mt-header-menu">
		<i class="iconfont icon-caidan"></i>
		<ul class="mt-sub-menu animated fadeInRight">
			<li><a href="#">测试导航1</a></li>
			<li><a href="#">测试导航2</a></li>
			<li><a href="#">测试导航3</a></li>
			<li><a href="#">测试导航4</a></li>
		</ul>
	</div>

	<!--搜索-->
	<div class="mt-header-search">
		<input type="text" class="mt-input">
		<a href="#" class="search-btn"><i class="iconfont icon-sousuo1"></i></a>
	</div>

	<!--其他菜单-->
	<div class="mt-header-othermenu">
		<div class="mt-header-menu">
			<i class="iconfont icon-gerenzhongxin"></i>
			<ul class="mt-sub-menu animated fadeInRight">
				<li><a href="#">测试导航1</a></li>
				<li><a href="#">测试导航2</a></li>
				<li><a href="#">测试导航3</a></li>
				<li><a href="#">测试导航4</a></li>
			</ul>
		</div>
	</div>

</div><!--end mt-header-->