<!doctype html>
<html>
<head>
    <title>MTUI后台模板</title>
    <meta name="description" content="Mantou">
    <meta name="keywords" content="Mantou">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- Set render engine for 360 browser -->
<meta name="renderer" content="webkit">
<!-- No Baidu Siteapp-->
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" href="http://at.alicdn.com/t/font_1452220399_5465724.css">
<link rel="stylesheet" type="text/css" href="../assets/css/animate.min.css" />
<link rel="stylesheet" type="text/css" href="../assets/css/mtui.css" />
<!--[if lt IE 9]>
<script src="../assets/script/plugin/jquery-1.11.2.js"></script>
<script src="../assets/script/public/html5.js"></script>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../assets/script/plugin/jquery-2.1.1.js"></script>
<!--<![endif]-->
<script src="../assets/script/plugin/mtui.js"></script>
<!-- <script src="../assets/script/seajs/sea.js"></script> -->
    <link rel="stylesheet" type="text/css" href="../assets/css/admin.css" />
</head>
<body class="admin-login-bg">
	
	<div class="mt-404">
		<img src="../assets/images/500.png" alt="">
		<h1>(⊙_⊙)?抱歉！服务器出错！</h1>
	</div>
	
	<div id="particles-js"></div>

</body>
<script src="../assets/script/plugin/animatebg.js"></script>
</html>
