<!doctype html>
<html>
<head>
    <title>MTUI后台模板</title>
    <meta name="description" content="Mantou">
    <meta name="keywords" content="Mantou">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- Set render engine for 360 browser -->
<meta name="renderer" content="webkit">
<!-- No Baidu Siteapp-->
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" href="http://at.alicdn.com/t/font_1452220399_5465724.css">
<link rel="stylesheet" type="text/css" href="../assets/css/animate.min.css" />
<link rel="stylesheet" type="text/css" href="../assets/css/mtui.css" />
<!--[if lt IE 9]>
<script src="../assets/script/plugin/jquery-1.11.2.js"></script>
<script src="../assets/script/public/html5.js"></script>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../assets/script/plugin/jquery-2.1.1.js"></script>
<!--<![endif]-->
<script src="../assets/script/plugin/mtui.js"></script>
<!-- <script src="../assets/script/seajs/sea.js"></script> -->
    <link rel="stylesheet" type="text/css" href="../assets/css/admin.css" />
</head> 
<body>

<!--header-->
<!-- 头部-->
<div class="mt-header">

	<div class="mt-breadcrumb" style="display: inline-block;">
	    <span>当前位置:</span>
	    <ul>
	        <li><a href="javascript:">主页</a></li>
	      	<li><a href="javascript:">直销客户</a></li>
	    </ul>
	</div>

<!-- 	<div class="admin-info">
		<i class="iconfont icon-yonghu"></i>您好，admin
	</div> -->

	<!--其他菜单-->
	<div class="mt-header-othermenu">
		<div class="mt-header-menu">
			<i class="iconfont icon-gerenzhongxin"></i> 您好，admin
			<ul class="mt-sub-menu animated fadeInRight">
				<li><a href="#">测试导航1</a></li>
				<li><a href="#">测试导航2</a></li>
				<li><a href="#">测试导航3</a></li>
				<li><a href="admin-login.html">退出系统</a></li>
			</ul>
		</div>
	</div>
 
</div><!--end mt-header--> 

<!--menu-->
<!--侧面导航栏-->
<div class="mt-sidemenu">
	<!--LOGO-->
	<div class="mt-logo">
		<h1><a href="admin-index.html">浩格云信</a></h1>
	</div>
	
	<!--导航-->
	<div class="mt-sidenav">
		<ul class="mt-sidenav-ul">
			<li data-sidename="index">
				<a class="ink-reaction" href="admin-user-action.html">
					<i class="iconfont icon-iconfontkehujigongyingshangguanli"></i>
					<span>用户行为</span>
				</a>
			</li>
			<li data-sidename="order">
				<a href="admin-order.html">
					<i class="iconfont icon-iconfontbiaodandingyi"></i>
					<span>所有订单</span>
				</a>
			</li>
			<li data-sidename="member">
				<a href="javascript:;">
					<i class="iconfont icon-yuangongguanli"></i>
					<span>员工管理</span>
				</a>
				<ul class="mt-sub-nav">
					<li><a href="admin-member.html">员工列表</a></li>
					<li><a href="admin-member-add.html">添加员工</a></li>
				</ul>
			</li>
			<li data-sidename="guest">
				<a href="javascript:;">
					<i class="iconfont icon-kehuguanli"></i>
					<span>客户管理</span>
				</a>
				<ul class="mt-sub-nav">
					<li><a href="admin-guest-all.html">所有客户</a></li>
					<li><a href="admin-guest-daili.html">代理商</a></li>
					<li><a href="admin-guest-zhongduan.html">终端客户</a></li>
					<li><a href="admin-guest-zhixiao.html">直销客户</a></li>
					<li><a href="admin-guest-zhixiao-set.html">直销客户设置</a></li>
					<li><a href="admin-guest-zhixiao-info.html">客户信息</a></li>
				</ul>
			</li>
			<li data-sidename="buy">
				<a href="javascript:;">
					<i class="iconfont icon-chongzhi"></i>
					<span>充值管理</span>
				</a>
				<ul class="mt-sub-nav"> 
					<li><a href="admin-buy.html">充值列表</a></li>
					<li><a href="admin-buy-add.html">充值申请</a></li> 
				</ul>
			</li>
			<li data-sidename="user">
				<a href="javascript:;">
					<i class="iconfont icon-xianshiqi"></i>
					<span>前台管理</span>
				</a>
				<ul class="mt-sub-nav">
					<li><a href="#">邮件管理</a></li>
					<li><a href="admin-user-add.html">添加用户</a></li>
				</ul>
			</li>
			<li data-sidename="system">
				<a href="javascript:;">
					<i class="iconfont icon-zidongpeizhi"></i>
					<span>系统配置</span> 
				</a>
				<ul class="mt-sub-nav">
					<li><a href="admin-system.html">系统重置</a></li>
					<li><a href="admin-system-menu.html">菜单设置</a></li>
					<li><a href="admin-msgSend.html">消息推送</a></li>
				</ul>
			</li>
			<li data-sidename="other">
				<a href="javascript:;">
					<i class="iconfont icon-zidongpeizhi"></i>
					<span>扩展功能</span> 
				</a>
				<ul class="mt-sub-nav">
					<li><a href="admin-other-feedback.html">意见反馈</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<script>
//菜单选中状态
$(function(){
	var $ul = $(".mt-sidenav-ul");
	var $li = $ul.find('li');
	var winHei = $(window).height();

	//菜单动画
	var sidenavAnimate = function(){
		var liLen = $li.length;
		var ulHei = $ul.height()+50;
		var x = (ulHei-winHei)/(liLen-1);
		if(ulHei - winHei <= 0)return;
		$(".mt-sidenav").on('mouseover', 'li', function(event) {
			var index = $(this).index();
			$ul.css({
				top: -index*x
			});
		});
	};

	//菜单选中状态
	var setActiveForSidenav = function(){
		$("li[data-sidename='guest']").addClass('mt-active');
	};


	//init
	sidenavAnimate();
	setActiveForSidenav();
});
</script> 

<!--主要内容区域-->
<div class="mt-main-content">
  
  <div class="mt-content-1x">
      
      <div class="mt-tabs" data-tabs="{autoh:false,drag:false}">
          
          <table class="mt-table mt-table-striped">
              <tr> <td class="admin-w100">用户名</td> <td>huangguanghu</td> </tr>
              <tr> <td>公司名称</td> <td>数联铭品</td> </tr>
              <tr> <td>座机</td> <td>028-87213541</td> </tr>
              <tr> <td>手机</td> <td>13438261029</td> </tr>
              <tr> <td>邮箱</td> <td>280261148@qq.com</td> </tr>
              <tr> <td>地址</td> <td>世纪城</td> </tr>
              <tr> 
                <td class="admin-w100">是否有权限设置子账号</td>
                <td>
                    <label class="mt-radio">
                      <input type="radio" name="sex" value="是">
                      <i class="iconfont icon-radio"></i>
                      <span>是</span>
                    </label>

                    <label class="mt-radio mt-radio-active">
                      <input type="radio" checked="checked" name="sex" value="否">
                      <i class="iconfont icon-radio"></i>
                      <span>否</span>
                    </label>
                </td> 
              </tr>
              <tr> 
                  <td>子账号个数</td> 
                  <td>
                      <div class="mt-input">
                        <input type="text" placeholder="">
                      </div>
                  </td> 
              </tr>
<!--                       <tr> 
                  <td><a href="javascript:;" class="mt-btn-blue ink-reaction mt-btn-lg">确认修改</a></td> 
                  <td></td> 
              </tr> -->
          </table>
          
          <div class="admin-tx">
            <table class="mt-table">
                <tr>
                  <th>
                      <label class="mt-checkbox"><input class="" type="checkbox" value="A"><i class="iconfont icon-duigou"></i> <span>A套系</span></label>
                  </th>
                </tr>
                <tr>
                  <td>
                      <label>价格：</label>
                      <div class="mt-input">
                        <input type="text" placeholder="">
                      </div>
                      &nbsp;
                      <label>时间：</label>
                      <div class="mt-input mt-date mt-icon-input">
                        <input type="text" value="" readonly="readonly" id="a-date1" placeholder="开始">
                        <a href="javascript:;" class="mt-iconbtn"><i class="iconfont icon-gmrili"></i></a> 
                      </div>
                      ~
                      <div class="mt-input mt-date mt-icon-input">
                        <input type="text" value="" readonly="readonly" id="a-date2" placeholder="结束">
                        <a href="javascript:;" class="mt-iconbtn"><i class="iconfont icon-gmrili"></i></a> 
                      </div>
                      &nbsp;
                      <label>总量：</label>
                      <div class="mt-input">
                        <input type="text" placeholder="">
                      </div>
                      &nbsp;
                      <label>每日可购买量：</label>
                      <div class="mt-input">
                        <input type="text" placeholder="">
                      </div>
                      <br><br>
                      <label>赠送总量：</label>
                      <div class="mt-input">
                        <input type="text" placeholder="">
                      </div>
                      &nbsp;
                      <label>赠送时间：</label>
                      <div class="mt-input mt-date mt-icon-input">
                        <input type="text" value="" readonly="readonly" id="a-date3" placeholder="开始">
                        <a href="javascript:;" class="mt-iconbtn"><i class="iconfont icon-gmrili"></i></a> 
                      </div>
                      ~
                      <div class="mt-input mt-date mt-icon-input">
                        <input type="text" value="" readonly="readonly" id="a-date4" placeholder="结束">
                        <a href="javascript:;" class="mt-iconbtn"><i class="iconfont icon-gmrili"></i></a> 
                      </div>
                      &nbsp;
                      <label>每日赠送量：</label>
                      <div class="mt-input">
                        <input type="text" placeholder="">
                      </div>
                    <td></td>
                </tr>
            </table>
          </td>

          <div class="admin-tx">
                      
            <table class="mt-table">
                <tr>
                  <th>
                      <label class="mt-checkbox"><input class="" type="checkbox" value="0"><i class="iconfont icon-duigou"></i> <span>E套系</span></label>
                  </th>
                </tr>
                <tr>
                  <td>
                      <label>价格：</label>
                      <div class="mt-input">
                        <input type="text" placeholder="">
                      </div>
                      &nbsp;
                      <label>时间：</label>
                      <div class="mt-input mt-date mt-icon-input">
                        <input type="text" value="" readonly="readonly" id="e-date1" placeholder="开始">
                        <a href="javascript:;" class="mt-iconbtn"><i class="iconfont icon-gmrili"></i></a> 
                      </div>
                      ~
                      <div class="mt-input mt-date mt-icon-input">
                        <input type="text" value="" readonly="readonly" id="e-date2" placeholder="结束">
                        <a href="javascript:;" class="mt-iconbtn"><i class="iconfont icon-gmrili"></i></a> 
                      </div>
                      &nbsp;
                      <label>总量：</label>
                      <div class="mt-input">
                        <input type="text" placeholder="">
                      </div>
                      &nbsp;
                      <label>每日可购买量：</label>
                      <div class="mt-input">
                        <input type="text" placeholder="">
                      </div>
                      <br><br>
                      <label>赠送总量：</label>
                      <div class="mt-input">
                        <input type="text" placeholder="">
                      </div>
                      &nbsp;
                      <label>赠送时间：</label>
                      <div class="mt-input mt-date mt-icon-input">
                        <input type="text" value="" readonly="readonly" id="e-date3" placeholder="开始">
                        <a href="javascript:;" class="mt-iconbtn"><i class="iconfont icon-gmrili"></i></a> 
                      </div>
                      ~
                      <div class="mt-input mt-date mt-icon-input">
                        <input type="text" value="" readonly="readonly" id="e-date4" placeholder="结束">
                        <a href="javascript:;" class="mt-iconbtn"><i class="iconfont icon-gmrili"></i></a> 
                      </div>
                      &nbsp;
                      <label>每日赠送量：</label>
                      <div class="mt-input">
                        <input type="text" placeholder="">
                      </div>
                    <td></td>
                </tr>
            </table>

            </div><!--end admin-tx-->

            <div class="admin-tx">
                
                <table class="mt-table">
                    <tr>
                      <th>
                          <label class="mt-checkbox"><input class="" type="checkbox" value="0"><i class="iconfont icon-duigou"></i> <span>S套系</span></label>
                      </th>
                    </tr>
                    <tr>
                      <td>
                          <label>价格：</label>
                          <div class="mt-input">
                            <input type="text" placeholder="">
                          </div>
                          &nbsp;
                          <label>时间：</label>
                          <div class="mt-input mt-date mt-icon-input">
                            <input type="text" value="" readonly="readonly" id="s-date1" placeholder="开始">
                            <a href="javascript:;" class="mt-iconbtn"><i class="iconfont icon-gmrili"></i></a> 
                          </div>
                          ~
                          <div class="mt-input mt-date mt-icon-input">
                            <input type="text" value="" readonly="readonly" id="s-date2" placeholder="结束">
                            <a href="javascript:;" class="mt-iconbtn"><i class="iconfont icon-gmrili"></i></a> 
                          </div>
                          &nbsp;
                          <label>总量：</label>
                          <div class="mt-input">
                            <input type="text" placeholder="">
                          </div>
                          &nbsp;
                          <label>每日可购买量：</label>
                          <div class="mt-input">
                            <input type="text" placeholder="">
                          </div>
                          <br><br>
                          <label>赠送总量：</label>
                          <div class="mt-input">
                            <input type="text" placeholder="">
                          </div>
                          &nbsp;
                          <label>赠送时间：</label>
                          <div class="mt-input mt-date mt-icon-input">
                            <input type="text" value="" readonly="readonly" id="s-date3" placeholder="开始">
                            <a href="javascript:;" class="mt-iconbtn"><i class="iconfont icon-gmrili"></i></a> 
                          </div>
                          ~
                          <div class="mt-input mt-date mt-icon-input">
                            <input type="text" value="" readonly="readonly" id="s-date4" placeholder="结束">
                            <a href="javascript:;" class="mt-iconbtn"><i class="iconfont icon-gmrili"></i></a> 
                          </div>
                          &nbsp;
                          <label>每日赠送量：</label>
                          <div class="mt-input">
                            <input type="text" placeholder="">
                          </div>
                        <td></td>
                    </tr>
                </table>

            </div><!--end admin-tx-->

            <div class="admin-tx-submit">
              <a href="javascript:;" class="mt-btn-blue ink-reaction mt-btn-lg">确认修改</a>
            </div>

        </div>

  </div>

</div>

<script src="../assets/script/plugin/laydate/laydate.js"></script>
</body>
<script>
$(function(){

  //日历初始化
  var arr = ['#a-date1','#a-date2','#a-date3','#a-date4','#e-date1','#e-date2','#e-date3','#e-date4','#s-date1','#s-date2','#s-date3','#s-date4'];
  for (var i = 0; i < arr.length; i++) {
    laydate({
      elem: arr[i], //需显示日期的元素选择器
          format: 'YYYY-MM-DD', // YYYY-MM-DD hh:mm:ss 日期格式
          choose: function(dates){
            console.log(dates);
          } //选择好日期的回调
    });
  }

});
</script>
</html>
