<!doctype html>
<html>
<head>
    <title>MTUI后台模板</title>
    <meta name="description" content="Mantou">
    <meta name="keywords" content="Mantou">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- Set render engine for 360 browser -->
<meta name="renderer" content="webkit">
<!-- No Baidu Siteapp-->
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" href="http://at.alicdn.com/t/font_1451299001_698272.css">
<!-- <link rel="stylesheet" type="text/css" href="../assets/css/amazeui.css" /> -->
<link rel="stylesheet" type="text/css" href="../assets/css/animate.min.css" />
<link rel="stylesheet" type="text/css" href="../assets/css/mtui.css" />
<!--[if lt IE 9]>
<script src="../assets/script/plugin/jquery-1.11.2.js"></script>
<script src="../assets/script/public/html5.js"></script>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../assets/script/plugin/jquery-2.1.1.js"></script>
<!--<![endif]-->
<!-- <script src="../assets/script/plugin/amazeui.js"></script> -->
<script src="../assets/script/plugin/plus.js"></script>
<script src="../assets/script/plugin/mtui.js"></script>
<script src="../assets/script/seajs/sea.js"></script>
</head>
<body>
<!--header-->
<!--头部-->
<div class="mt-header">
	
	<a href="#" class="mt-sidemenu-arrow">
		<i class="iconfont icon-xiao75"></i>
	</a>

	<!--菜单-->
	<div class="mt-header-menu">
		<i class="iconfont icon-caidan"></i>
		<ul class="mt-sub-menu animated fadeInRight">
			<li><a href="#">测试导航1</a></li>
			<li><a href="#">测试导航2</a></li>
			<li><a href="#">测试导航3</a></li>
			<li><a href="#">测试导航4</a></li>
		</ul>
	</div>

	<!--搜索-->
	<div class="mt-header-search">
		<input type="text" class="mt-input">
		<a href="#" class="search-btn"><i class="iconfont icon-sousuo1"></i></a>
	</div>

	<!--其他菜单-->
	<div class="mt-header-othermenu">
		<div class="mt-header-menu">
			<i class="iconfont icon-gerenzhongxin"></i>
			<ul class="mt-sub-menu animated fadeInRight">
				<li><a href="#">测试导航1</a></li>
				<li><a href="#">测试导航2</a></li>
				<li><a href="#">测试导航3</a></li>
				<li><a href="#">测试导航4</a></li>
			</ul>
		</div>
	</div>

</div><!--end mt-header-->

<!--menu-->
<!--侧面导航栏-->
<div class="mt-sidemenu">
	<!--LOGO-->
	<div class="mt-logo">
		<h1>BBD</h1>
	</div>
	
	<!--导航-->
	<div class="mt-sidenav">
		<ul class="mt-sidenav-ul">
			<li data-sidename="index">
				<a class="ink-reaction" href="index.html">
					<i class="iconfont icon-zhuye"></i>
					<span>主页</span>
				</a>
			</li>
			<li data-sidename="form">
				<a href="form.html">
					<i class="iconfont icon-iconfontbiaodandingyi"></i>
					<span>表单</span>
				</a>
			</li>
			<li data-sidename="button">
				<a href="button.html">
					<i class="iconfont icon-uibutton"></i>
					<span>按钮</span>
				</a>
			</li>
			<li data-sidename="grid">
				<a href="grid.html">
					<i class="iconfont icon-fenping"></i>
					<span>分栏</span>
				</a>
			</li>
			<li data-sidename="table">
				<a href="table.html">
					<i class="iconfont icon-iconbiaoge"></i>
					<span>表格</span>
				</a>
			</li>
			<li data-sidename="plus">
				<a href="plus.html">
					<i class="iconfont icon-chajian"></i>
					<span>插件</span>
				</a>
			</li>
			<li data-sidename="img">
				<a href="img.html">
					<i class="iconfont icon-tupian"></i>
					<span>图片</span>
				</a>
			</li>
		</ul>
	</div>
</div>

<script>
//菜单选中状态
$(function(){
	var $ul = $(".mt-sidenav-ul");
	var $li = $ul.find('li');
	var winHei = $(window).height();

	//菜单动画
	var sidenavAnimate = function(){
		var liLen = $li.length;
		var ulHei = $ul.height()+50;
		var x = (ulHei-winHei)/(liLen-1);
		if(ulHei - winHei <= 0)return;
		$(".mt-sidenav").on('mouseover', 'li', function(event) {
			var index = $(this).index();
			$ul.css({
				top: -index*x
			});
		});
	};

	//菜单选中状态
	var setActiveForSidenav = function(){
		$("li[data-sidename='index']").addClass('mt-active');
	};


	//init
	sidenavAnimate();
	setActiveForSidenav();
});
</script> 

<!--主要内容区域-->
<div class="mt-main-content">
    mt-main-content
</div>

<!--footer-->
<footer>footer</footer>

</body>
</html>
